body {
    background-color: #ffffa0;
    color: black;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

input {
  border: 1px;
  padding: 2px;
}

p {
  color: black;
  margin: 6px 0px 10px;
}

img {
  width: 20px;
  height: 20px;
}

.navbar-right {
  background-color: lightgreen;
}
