body {
    background-color: #223;
    color: white;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

input {
  border: 1px;
  padding: 2px;
}

p {
  color: black;
  margin: 6px 0px 10px;
}

/*@media (max-width: 600px)
{
  .facet_sidebar
   {
    display: none;
   }
}
@media (min-width: 600px)
{
  .facet_sidebar
   {
    display: none;
   }
}*/
