{{ define "list"}}
{{ template "head" }}
<div class="inner cover">
    <h1 class="cover-heading">Stored Links</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Link</th>
                <th>Short</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ .Link }}</td>
                <td>{{ .Short }}</td>
                <td>
                    <a href="">
                        <button type="button" class="btn btn-danger">Remove</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="lead">
        <a href="" class="btn btn-lg btn-default">Home</a>
    </p>
</div>
{{ template "footer" }}
{{ end }}
