<!DOCTYPE html>
<head>
    <title>Link shortener</title>
</head>

<body>
  <form action="/link/add" method="post">
    <div>
      <label for="link">Link:</label>
      <input type="text" name="user_link">
    </div>
    <div class="button">
        <button type="submit">Post</button>
    </div>
  </form>

  <div>
    <h4>Stored Links</h1>
    <table>
      <thead>
        <tr>
          <th>Link</th>
          <th>Short</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for e in array %}
        <tr>
          <td>{{ e.Link }}</td>
          <td>{{ e.Short }}</td>
          <td>
            <a href="/remove/link/{{ e.Link }}">X</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
