<!DOCTYPE html>
<head>
    <title>Link shortener</title>
</head>

<body>
  <form action="/link/add" method="post">
    <div>
      <label for="link">Link:</label>
      <input type="text" name="user_link">
    </div>
    <div class="button">
        <button type="submit">Post</button>
    </div>
  </form>

  <div>
    <table>
      <thead>
        <tr>
          <th>Link</th>
          <th>Short</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for e in array %}
        <tr>
          <td>
            <a href="{{ e.Link }}">{{ e.Link }}</a>
            </td>
          <td>
            <a href="/red/{{ e.Hash }}">{{ e.Short }}</a>
          </td>
          <td>
            <a href="/remove/link/{{ e.Hash }}">X</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
